<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dbproject.dao.AdminDao">
    <select id="getAllStaffInformation" resultType="Staff">
        select work_num,
               works_name,
               work_pwd,
               works_sex,
               works_id_card,
               work_state,
               worker_from_where,
               work_from_when
        from work_basic_table
    </select>
</mapper>