<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dbproject.dao.LoginDao">
    <select id="isUser" parameterType="string" resultType="LoadInformation">
        select work_num
        from work_basic_table
        where work_num = #{param1}
          and work_pwd = #{param2}
    </select>

    <select id="isAdmin" parameterType="string" resultType="LoadInformation">
        select id as work_num
        from administrator_table
        where id = #{param1}
          and pwd = #{param2}
    </select>
</mapper>