<!DOCTYPE doctype html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <title>
        DingDang-管理你的时间
    </title>
    <script src="/webjars/jquery/3.4.0/jquery.min.js"></script>
    <script src="/webjars/vue/2.6.10/dist/vue.min.js"></script>
    <link href="/webjars/layui/2.5.5/css/layui.css" rel="stylesheet"/>
    <script src="/webjars/layui/2.5.5/layui.js"></script>
    <script src="/js/function.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo" style="font-size: 30px">DingDang</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <!--                 <ul class="layui-nav layui-layout-left">
                            <li class="layui-nav-item"><a href="">控制台</a></li>
                            <li class="layui-nav-item"><a href="">商品管理</a></li>
                            <li class="layui-nav-item"><a href="">用户</a></li>
                            <li class="layui-nav-item">
                                <a href="javascript:;">其它系统</a>
                                <dl class="layui-nav-child">
                                    <dd><a href="">邮件管理</a></dd>
                                    <dd><a href="">消息管理</a></dd>
                                    <dd><a href="">授权管理</a></dd>
                                </dl>
                            </li>
                        </ul> -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" id="support">
                    支持超超超
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;" id="contact">
                    联系超超超
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="/doc">
                    说明文档
                </a>
            </li>
            <li class="layui-nav-item" style="width: 96px">
                <a href="javascript:;" id="username"
                   style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;text-align: center">
                    {{name}}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/user">账户设置</a></dd>
                    <dd><a href="javascript:;" id="doLogout">退出登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item layui-this">
                    <a href="javascript:;" onclick="changeFrame('main/view')">任务总览</a>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;" onclick="changeFrame('main/edu/course-table')">我的课表</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" onclick="changeFrame('main/person/view')">个人任务</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">组织任务</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" onclick="changeFrame('main/organization-task/person-task')">查看任务</a>
                        </dd>
                        <dd><a href="javascript:;" onclick="changeFrame('main/organization-task/manage-task')">管理任务</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">我的组织</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" onclick="changeFrame('main/organization/view')">加入的组织</a></dd>
                        <dd><a href="javascript:;" onclick="changeFrame('main/organization/manage')">管理的组织</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" id="noticeCount">
                    <a href="javascript:;">申请通知
                        <span class="layui-badge-dot" v-if="count > 0"></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" onclick="changeFrame('main/request/mine')">我的申请</a></dd>
                        <dd><a href="javascript:;" onclick="changeFrame('main/request//unread')">未读申请
                            <span class="layui-badge" v-if="count > 0">{{ count }}</span></a></dd>
                        <dd><a href="javascript:;" onclick="changeFrame('main/request//read')">已读申请</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <iframe id="main-body" src="/html/main/view.html"
                style="padding:0px;margin:0px;border:0px; ;height: 100%;width: 100%;">内容主体区域
        </iframe>
    </div>
    <div class="layui-footer" id="foot-tip" style="text-align: center; white-space:pre">©2020 dingdang.info {{ tip }} <a
            :href="href"> {{beian}}</a>
    </div>
</div>
</body>
</html>