html, body {
    height: 100%;
}

h3 {
    margin: 10px;
}

li {
    margin-left: 20px;
    font-size: 16px;
    height: 35px;
    vertical-align: center;
    line-height: 35px;
}

h4 {
    margin-left: 20px;
    font-size: 18px;
}

.catalog-body {
    height: 100%;
    width: 200px;
    float: left;
    position: fixed;
    padding-top: 20px;
    border-right: 1px solid #eee;
}

.catalog-title {
    background-color: #F2F2F2;
    line-height: 35px;
    vertical-align: center;
}

.catalog-title-left {
    min-width: 3px;
    background-color: #009688;
    float: left;
}

.content-text {
    color: #666666;
    font: 15px Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
    line-height: 28px;
}

.content-description {
    line-height: 24px;
}